body
{
  margin: .25em .25em .25em .25em;
  background-color: white;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 15px;
  color: #201f25;
}

textarea 
{
  width:95%;
}

blockquote, div.quoted-text
{
  border-style: none;
	background-color: #edede7;
	color: #201f25;
	font-size: 14px;
	min-width: 35%;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-radius: 3px;
}

a:link 
{
  color: #524a7b;
}

a:visited
{
  color: #524a7b;
}

a:active
{
  color: inherit;
}

a:hover
{
  color: inherit;
}

form
{
  display: inline-block;
}

.form-container form
{
  display: block;
}

b
{
  color: #201f25;
}

/* Modded for PE4 (removed float) */
.page
{
  width: 100%;
  min-width: 800px;
  background-color: white;
}

.header
{
  width: 100%;
  min-width: 810px;
  min-height: 59px;
  background-color: white;
  background-image: url(./btopmid.png);
  background-repeat: repeat-x;
}

.header-left
{
  width: 190px;
  min-height: 59px;
  background-image: url(./btopleft.png);
  background-position: left top;
  background-repeat: no-repeat;
  float: left;
}

.header-right
{
  width: 190px;
  min-height: 59px;
  vertical-align: middle;
  background-image: url(./btopright.png);
  background-position: right top;
  background-repeat: no-repeat;
  float: right;
}

.header-middle
{
  display: none;
  text-align: left;
  margin-left: 190px;
  margin-right: 190px;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 38px;
  font-weight:bold;
  color: white;
  background-color: transparent;
}

.content-menu
{
  background-color: white;
  background-repeat: repeat;
  padding: 5px 5px 5px 5px;
  min-width: 800px;
}

.menu
{
  /* border: dashed 2px purple; */
  display: block;
  position: relative;
  clear: both;
  padding-top: 5px;
  padding-left: 0px;
  /* background-image:url(menubg.png); */
  background-color: white;
  background-repeat: repeat;
  width: 100%;
  max-width: 75%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.menu-button
{
  background-color: #edede7;
  background-position: top;
  height: 22px;
  margin: 0px 5px 5px 5px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: auto;
  min-width: 120px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 0px solid #201f25;
  border-radius: 2px;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  color: white; 
}

.menu-button:hover
{
  background-color: #524a7b;
  color: white;
}

.menu-separator
{
  height: 22px;
  width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  vertical-align: middle;
  text-align: center;
  clear: both;
  display: inline-block;
}

.content
{
  /* border: dashed 2px green; */
  display: block;
  position: relative;
  clear: both;
  padding-left: 0px;
  padding-top: 5px;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 15px;
  color: #131218;  
  text-align: left;
  background-color: white;
  width: 100%;
  max-width: 75%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Modded for PE4 (removed float) */
.footer
{
  display: none;
}

.footer-left
{
}

.footer-mid
{
}

.footer-right
{
}

.sub-header
{
  background-image: linear-gradient(top, #FFFFFF 4%, #EDEDE7 96%);
  background-image: -o-linear-gradient(top, #FFFFFF 4%, #EDEDE7 96%);
  background-image: -moz-linear-gradient(top, #FFFFFF 4%, #EDEDE7 96%);
  background-image: -webkit-linear-gradient(top, #FFFFFF 4%, #EDEDE7 96%);
  background-image: -ms-linear-gradient(top, #FFFFFF 4%, #EDEDE7 96%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.04, #FFFFFF),
    color-stop(0.96, #EDEDE7)
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EDEDE7',GradientType=0 ); /* IE6-9 */
  min-height: 27px;
  background-position: top;
  background-repeat: repeat;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #201f25;
  margin: 0px;
  position: relative;
}

.form-header-text
{
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: inherit;
  margin-bottom: 5px;
  display: block;
  position: relative;
  padding-left: 5px;
} 

.form-subheader-text
{
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: inherit;
  margin-bottom: 15px;
  display: block;
} 

.logo-container
{
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.logo-container img
{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.post-icon
{
  float: right;
  margin: 10px 10px 10px 10px;
  border: none;
}

.list-container
{
  display: block;
  margin-bottom: 10px;
  text-align:justify;
  text-justify: inter-word;
  margin-right: 5px;
}

.display-container
{
  text-align:justify;
  text-justify: inter-word;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

div.display-container > p:first-child
{
  margin-top: 0;
}

div.display-container div.quoted-text > p:first-child
{
  margin-top: 0;
}

div.display-container div.centered-text
{
  text-align: center;
}

div.display-container div.sub-header p
{
  margin-bottom: 0;
}

div.display-container div.sub-header + p
{
  margin-top: 0;
}

div.display-container div.centered-text p:last-child
{
  margin-bottom: 0;
}

blockquote p:last-child, div.display-container div.quoted-text p:last-child
{
  margin-bottom: 0;
}

.form-container
{
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.dialog-container
{
  width: 100%;
  height: 100%;
  background-color: #edede7;
  padding: 5px;
  border: 2px solid #131218;
}

.list-container-overflow, .form-container-overflow
{
  overflow: auto;
}

.form-container-center
{
  text-align: center;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.list-table
{
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  color: #201f25;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: none !important;
}

.list-table thead tr th, .list-table tbody tr td
{
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 1px #201f25;
  padding-right: 2px;
  padding-left: 2px;
  text-align: left;
}

.list-table tfoot tr td
{
  border: none !important;
}

.list-table thead tr
{
  background-color: #edede7;
  color: #201f25;
  font-size: 14px;
}

.list-table tbody tr
{
  background-image: linear-gradient(top, #f1f1ef 4%, #FFFFFF 96%);
  background-image: -o-linear-gradient(top, #f1f1ef 4%, #FFFFFF 96%);
  background-image: -moz-linear-gradient(top, #f1f1ef 4%, #FFFFFF 96%);
  background-image: -webkit-linear-gradient(top, #f1f1ef 4%, #FFFFFF 96%);
  background-image: -ms-linear-gradient(top, #f1f1ef 4%, #FFFFFF 96%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.04, #EDEDE7),
    color-stop(0.96, #FFFFFF)
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1ef', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
  background-position: top;
  background-repeat: repeat;
  color: #201f25;
}

.list-table tbody tr.alt
{
  background-image: linear-gradient(top, #FFFFFF 4%, #f1f1ef 96%);
  background-image: -o-linear-gradient(top, #FFFFFF 4%, #f1f1ef 96%);
  background-image: -moz-linear-gradient(top, #FFFFFF 4%, #f1f1ef 96%);
  background-image: -webkit-linear-gradient(top, #FFFFFF 4%, #f1f1ef 96%);
  background-image: -ms-linear-gradient(top, #FFFFFF 4%, #f1f1ef 96%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.04, #EDEDE7),
    color-stop(0.96, #FFFFFF)
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#f1f1ef',GradientType=0 ); /* IE6-9 */
  background-position: top;
  background-repeat: repeat;
  color: #201f25;
}


.list-table tbody tr:hover, .list-table tbody tr.alt:hover
{
  background-image: none;
  background-color: #524a7b;
  color: white;
}

.list-table tbody tr:hover td a, .list-table tbody tr.alt:hover td a
{
  color: white;
}

.list-table tfoot tr
{
  background-color: #edede7;
  color: #201f25;
  font-size: 12px;
}

.list-table tbody tr.selected td, .list-table tbody tr.selected td a
{
  background-color: #201f25;
  color: white;
}

.list-button
{
  width: 75px;
  height: 22px;
  margin: 0px 5px 0px 0px;
}

.edit-row
{
  margin-bottom: 10px;
  clear: right;
}

.edit-control, .edit-control-small, .edit-control-normal, .edit-control-large
{
  font-size: 12px;
  background-color: white;
  clear: none;
}

.quote-control
{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.quotelink
{
  font-size: 14px;
}

.panel
{
  background-color: #edede7;
  display: block;
  width: 100%;
  min-width: 800px;
  min-height: 25px;
  margin-top: 0px;
  margin-bottom: 3px;
  border: none;
  position: relative;
}

body > div.panel, div.page > div.panel
{
  min-width: 810px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: static;
  padding-right: 0px;
  left: 0px;
}

div.page > div.panel
{
  background: transparent;
}


.panel-left
{
  text-align: left;
  vertical-align: top;
}


.panel-right
{
  text-align: right;
  vertical-align: top;
}

body > .panel > .panel-left, body > .panel > .panel-right
{
  display: inline-block;
  width: calc(50vw - 1.25em);
}

body > .panel > .panel-left
{
  margin-left: .25em;
}

body > .panel > .panel-right
{
  margin-right: .25em;
}


.panel-center
{
  display: block;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}


.panel-block
{
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}


.panel-block span
{
  padding-right: 5px;
}

@media screen and (max-width: 325px)
{
  .logo-container
  {
    display: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 425px)
{
  .header-right
  {
    display: none;
  }

  .header-middle
  {
    display: none;
  }
}

@media screen and (max-width: 540px)
{
  body > div.panel > div.panel-right-inline, div.page > div.panel > div.panel-right-inline
  {
    display: none;
  }

  .panel-block
  {
    display: inline-block;
    margin-bottom: 2px;
  }
}

@media (min-height: 500px) and (min-width: 750px)
{
  .form-container-overflow
  {
    max-height: 425px;
  }
}

@media (min-height: 700px) and (min-width: 750px)
{
  .form-container-overflow
  {
    max-height: 75vh;
  }
}

@media (min-width: 750px)
{
  .dialog-container
  {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 10px;
    height: auto;
    min-width: 600px;
  }

  #modal-overlay
  {
    display: block;
  }
}

@media screen and (max-width: 850px)
{
  .page
  {
    min-width: 0px;
  }

  .header
  {
    min-width: 0px;
  }

  .content-menu
  {
    min-width: 0px;
  }

  .menu
  {
    min-width: 0px;
    max-width: inherit;
    margin: 0;
  }

  .content
  {
    min-width: 0px;
    max-width: inherit;
    margin: 0;
  }

  .panel
  {
    min-width: 0px;
  }

  body > div.panel, div.page > div.panel
  {
    min-width: 0px;
  }

  .form-container-center
  {
    width: auto;
    margin: 0;
  }

  .panel-block
  {
    display: inline;
  }
}

@media screen and (max-width: 1000px)
{
  body > div.panel > div.panel-right-inline, div.page > div.panel > div.panel-right.inline
  {
    display: inline;
  }

  body > div.panel > div.panel-left-inline, div.page > div.panel > div.panel-left-inline
  {
    display: inline;
  }

  .content
  {
    clear: right;
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px)
{
  .menu
  {
    width: 12%;
    max-width: inherit;
    min-width: 0px;
    margin: 0;
    background-color: transparent;
    float: left;
  }

  .menu-button
  {
    display: block;
    min-width: 95px;
    max-width: inherit;
  }

  .content
  {
    clear: right;
  }
}

@media screen and (min-width: 1250px)
{
  .menu
  {
    width: 12%;
    max-width: inherit;
    min-width: 0px;
    margin: 0;
    background-color: transparent;
    float: left;
  }

  .menu-button
  {
    display: block;
    min-width: 95px;
    max-width: inherit;
  }

  .content
  {
    clear: right;
    max-width: 900px;
  }
}

@media screen and (min-width: 1350px)
{
  .menu
  {
    width: 200px;
  }

  .content
  {
    max-width: 1000px;
  } 
}

@media print
{
  .page
  {
    min-width: 0px;
  }

  .header
  {
    min-width: 0px;
  }

  .content-menu
  {
    min-width: 0px;
  }

  .menu
  {
    min-width: 0px;
    max-width: inherit;
    margin: 0;
  }

  .content
  {
    min-width: 0px;
    max-width: inherit;
    margin: 0;
  }

  .panel
  {
    min-width: 0px;
  }

  body > div.panel, div.page > div.panel
  {
    min-width: 0px;
  }

  body > div.panel > div.panel-right-inline, div.page > div.panel > div.panel-right.inline
  {
    display: inline;
  }

  body > div.panel > div.panel-left-inline, div.page > div.panel > div.panel-left-inline
  {
    display: inline;
  }

  .dialog-container
  {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    min-width: 0px;
  }

  .form-container-center
  {
    width: auto;
    margin: 0;
  }

  .panel-block
  {
    display: inline;
  }

  .logo-container
  {
    background-image: none;
    height: auto;
  }

  .logo-container img
  {
    display: inline;
  }
}