@font-face
{
  font-family: 'Webly Sleek UI Regular';
  src: url(../fonts/weblysleekui.ttf);
}

body
{
  margin: .25em .25em .25em .25em;
  background-color: white;
  font-family: "Webly Sleek UI Regular";
  font-size: 18px;
  color: black;
}

textarea 
{
  width:95%;
}

.form-errors
{
  padding-left: 0;
  list-style: none;
}

.form-errors li
{
  color: red;
  font-weight: bold;
}

a:link 
{
  color: #2b4873
}

a:visited
{
  color: #2b4873
}

a:active
{
  color: #2b4873
}

b
{
  color: black
}

.page
{
  width: 100%;
}

.header
{
  width: 100%;
  min-height: 59px;
  background-color: #4985cc;
  background-repeat: repeat-x;
}

.header-left
{
  width: 100%;
  min-height: 59px;
  background-position: left top;
  background-repeat: no-repeat;
}

.header-right
{
  width: 100%;
  min-height: 59px;
  vertical-align: middle;
  background-position: right top;
  background-repeat: no-repeat;
}

.header-middle
{
  display: none;
  text-align: left;
  margin-left: 190px;
  margin-right: 190px;
  font-family: "Webly Sleek UI Regular";
  font-size: 24px;
  font-weight:bold;
  color: white;
  background-color: transparent;
}

.content-menu
{
  display: block;
  position: relative;
  background-color: #0b35a6;
  background-repeat: repeat;
}

.menu
{
  display: inline-block;
  position: static;
  width: 170px;
  padding-left: 20px;
  background-color: #0b35a6;
  background-repeat: repeat;
}

.menu-button
{
  background-repeat: repeat-x;
  background-position: top;
  height: 24px;
  width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
  font-family: "Webly Sleek UI Regular";
  font-size: 18px;
  font-style: normal;
  color: white;
}

.menu-separator
{
  height: 24px;
  width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}

.content
{
  display: block;
  position: static;
  margin-left: 190px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Webly Sleek UI Regular";
  font-size: 18px;
  color: black;  
  text-align: left;
  background-color: white;
  width: auto;
}

.footer
{
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  height: 1px;
  background-color: gray;
}

.sub-header
{
  min-height: 30px;
  background-position: top;
  background-repeat: repeat-x;
  background-color: #5a96ef;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Webly Sleek UI Regular";
  font-size: 19px;
  font-weight: bold;
  color: white;
}

.sub-header  p
{
  margin-top: 0px;
}

.form-header-text
{
  font-family: "Webly Sleek UI Regular";
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  display: block;
} 

.form-subheader-text
{
  font-family: "Webly Sleek UI Regular";
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
  display: block;
} 

.logo-container
{
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.post-icon
{
  float: right;
  margin: 10px 10px 10px 10px;
}

.list-container
{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.display-container
{
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-container
{
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.dialog-container
{
  top: 0px;
  left: 0px;
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 10px 10px 10px;
  background-color: white;
  position: absolute;
  z-index: 1000;
  height: auto;
  padding: 5px;
  border: 2px solid #4985cc;
}

body .dialog-container
{
  height: auto;
  max-height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

.list-container-overflow, .form-container-overflow
{
  overflow: auto;
}

.form-container-center
{
  text-align: left;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.list-table
{
  font-family: "Webly Sleek UI Regular";
  color: white;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.list-table thead tr
{
  background-color: white;
  color: black;
  font-size: 18px;
}

.list-table tbody tr:nth-child(odd)
{
  background-color: #2b4873;
  color: white;
}

.list-table tbody tr:nth-child(even)
{
  background-color: #447bbd;
  color: #adc7e7;
}

.list-table tbody tr:hover
{
  background-color: black;
  color: red;
}

.list-table tfoot tr
{
  background-color: white;
  color: black;
  font-size: 14px;
}

.list-table tbody tr.selected td, .list-table tbody tr.selected td a
{
  background-color: white;
  color: #2b4873;
}

.list-table tbody tr td a.invisible-link
{
  text-decoration: none;
  color: black;
}

.list-table tbody tr td a.invisible-link:hover
{
  text-decoration: underline;
}

.sub-header a.invisible-link
{
  text-decoration: none;
}

.list-button
{
  width: 75px;
  height: 22px;
  margin: 0px 5px 0px 0px;
}

.search-list-description, .post-list-description
{
  max-width: 450px;
}

.search-list-description div, .post-list-description div
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-row
{
  clear: right;
}

.edit-row .edit-field, .edit-row .edit-label
{
	padding-bottom: 2px;
}

body .edit-label, .edit-label-normal
{
  font-size: 14px;
  font-weight: bold;
  display: table-cell;
  clear: none;
  width: auto;
  padding-right: 10px;
  text-align: right;
  float: none;
}

body .edit-label-large
{
  font-size: 14px;
  font-weight: bold;
  display: table-cell;
  clear: none;
  width: auto;
  padding-right: 10px;
  text-align: right;
  float: none;
}

.edit-field
{
  display: block;
  margin-left: 130px;
}

.edit-field.edit-checkbox-list
{
  margin-left: 210px;
}

.edit-field.edit-checkbox-list > span
{
  display: block;
}

.edit-field.edit-checkbox-list > span > input[type=checkbox]
{
  display: inline-block;
  width: auto;
}

.edit-control, .edit-control-small, .edit-control-normal, .edit-control-large
{
  font-size: 14px;
  clear: none;
}

.edit-control-small
{
  width: 75px;  
}

.edit-control-normal
{
  width: 150px;
}

.edit-control-large
{
  width: 250px;
}

.resume-container
{
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.resume-row
{
  display: table-row;
}

.resume-label
{
  font-size: 16px;
  font-weight: bold;
  display: table-cell;
  clear: none;
  border-bottom: solid transparent 3px;
}

.resume-disp-col-1
{
  font-size: 16px;
  display: table-cell;
  clear: none;
  border-bottom: solid transparent 3px;
}

.resume-disp-col-2
{
  font-size: 16px;
  display: table-cell;
  border-bottom: solid transparent 3px;
}

.resume-disp
{
  font-size: 16px;
  display: table-cell;
  border-bottom: solid transparent 3px;
}

.resume-skill-type
{
  font-size: 16px;
  font-weight: bold;
  display: table-cell;
  clear: none;
  border-bottom: solid transparent 3px;
}

.resumecolb
{
  display: table-cell;
  border-bottom: solid transparent 3px;
}

.resume-skill-container
{
  margin-left: 150px;
  font-size: 16px;
  display: block;
  border-bottom: solid transparent 3px;
}

.quote-control
{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.panel
{
  display: block;
  width: 100%;
  min-height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.panel-left
{
  text-align: left;
  vertical-align: top;
}

.panel-left > button + button, .panel-left > .panel-block > button + button
{
  margin-right: 10px;
}

.panel-left > button:first-child, .panel-left > .panel-block > button:first-child
{
  margin-left: 10px;
}

.panel-right
{
  text-align: right;
  vertical-align: top;
}

.panel-right > button + button, .panel-right > .panel-block > button + button
{
  margin-left: 10px;
}

.panel-right > button:last-child, .panel-right > .panel-block > button:last-child
{
  margin-right: 10px;
}

body > .panel > .panel-left
{
  display: inline-block;
  width: calc(30vw - 1.25em);
  margin-left: .25em;
}

body > .panel > .panel-right
{
  display: inline-block;
  width: calc(70vw - 1.25em);
  margin-right: .25em;
}

.panel-center
{
  display: block;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
}

.panel-block
{
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.panel-block span
{
  padding-right: 5px;
}

#modal-overlay
{
  opacity: 0.75;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 999;
  background-color: black;
  height: 100%;
  width: 100%;
  display: none;
}

#quote-text
{
  display: none;
}

[v-cloak]
{
  display: none !important;
}

.form-messages
{
  padding-left: 130px;
  list-style: none;
  font-size: 14px;
  color: red;
}

.centered-text
{
  text-align: center;
}

body .form-container, body .form-container-overflow
{
  display: table;
  width: 100%;
}

body .dialog-container > div
{
  display: table;
  width: 100%;
}

body .dialog-container .form-container, body .dialog-container .form-container-overflow
{
  display: table-row-group;
}

.form-container .edit-row, .form-container-overflow .edit-row
{
  display: table-row;
}

.form-container .edit-label, .form-container .edit-label-normal,
.form-container-overflow .edit-label, .form-container-overflow .edit-label-normal
{
  width: auto;
  padding-right: 10px;
  margin-right: 0;
  text-align: right;
  display: table-cell;
  float: none;
  vertical-align: top;
}

.form-container .edit-label-large, .form-container-overflow .edit-label-large
{
  vertical-align: top;
}

.form-container .edit-row .edit-field, .form-container-overflow .edit-row .edit-field
{
  margin-left: 0;
  margin-bottom: 5px;
  padding-right: 5px;
}

.form-container .edit-row .edit-field input, .form-container-overflow .edit-row .edit-field input,
.form-container .edit-row .edit-field select, .form-container-overflow .edit-row .edit-field select,
.form-container .edit-row .edit-field textarea, .form-container-overflow .edit-row .edit-field textarea
{
  width: 100%;
  padding-right: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.form-container .edit-row input[type=checkbox], .form-container-overflow .edit-row input[type=checkbox]
{
  display: table-cell;
}

.form-container .edit-label-large
{
  width: auto;
  margin-right: 0;
  padding-right: 10px;
  text-align: right;
  display: table-cell;
  float: none;
}

.form-container .edit-field, .form-container-overflow .edit-field
{
  display: table-cell;
  margin-left: 0px;
}

pre code
{
  font-family: monospace;
  font-size: 15px;
  display: block;
  max-height: 300px;
  overflow: auto;
}

.article-image, .content img
{
  max-width: 100%;
}

@media (max-width: 1050px)
{
  .search-list-description, .post-list-description
  {
    max-width: 45vw;
  }
}

@media (max-width: 850px)
{
  .search-list-description, .post-list-description
  {
    max-width: 35vw;
  }
}

@media (max-width: 749px)
{
  body #pengine-header.panel .panel-left
  {
    display: inline;
  }

  body #pengine-header.panel .panel-right
  {
    display: inline;
  }

  body .form-container, body .form-container-overflow
  {
    display: table;
    width: 100%;
  }

  body .dialog-container
  {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  body .dialog-container > div
  {
    display: table;
    width: 100%;
  }

  body .dialog-container .form-container, body .dialog-container .form-container-overflow
  {
    display: table-row-group;
    width: 100%;
  }

  .resume-container .resume-row
  {
    display: block;
  }

  .resume-container .resume-label, .resume-container .resume-disp-col-1, .resume-container .resume-disp-col-2
  {
    display: inline-block;
    width: 45%;
  }

  .resume-container .resume-row .resume-skill-container
  {
    margin-left: 0;
    padding-bottom: 15px;
  }

  .search-list-description, .post-list-description
  {
    max-width: 25vw;
  }
}

@media (min-height: 500px) and (min-width: 750px)
{
  .form-container-overflow
  {
    max-height: 425px;
  }
}

@media (min-height: 700px) and (min-width: 750px)
{
  .form-container-overflow
  {
    max-height: 75vh;
  }
}

@media (min-width: 750px)
{
  body #pengine-header.panel .panel-left
  {
    display: inline;
  }

  body #pengine-header.panel .panel-right
  {
    display: inline;
  }

  .dialog-container
  {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 10px;
    height: auto;
    min-width: 600px;
  }

  #modal-overlay
  {
    display: block;
  }
}

@media (min-width: 1000px)
{
  body #pengine-header.panel .panel-left
  {
    display: inline-block;
  }

  body #pengine-header.panel .panel-right
  {
    display: inline-block;
  }
}

@media print
{
  .header
  {
    display: none !important;
  }

  .content .sub-header
  {
    padding-left: 0;
    padding-right: 0;
  }

  .footer
  {
    display: none !important;
  }

  .menu
  {
    display: none !important;
  }

  body > div.panel, div.page > div.panel, div.content > div.panel, div.display-container > div.panel
  {
    display: none !important;
  }

  div.quote-control
  {
    display: none !important;
  }

  #noty_top_layout_container
  {
    display: none !important;
  }
}