body
{
  background-color: black;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 15px;
  color: #dfe0da;
}

button
{
  background-color: #8981af;
  color: black;
  border: 0px solid #dfe0da;
  border-radius: 2px;
  min-width: 95px;
  margin: 0px 5px 5px 5px;
  padding: 2px 2px 3px 2px;
  height: 22px;
}

button:hover
{
  background-color: black;
  color: #8981af;
  border: 1px solid #8981af;
}

button:disabled
{
  background-color: #242429;
  color: #8981af;
}

button:disabled:hover
{
  background-color: #242429;
  color: #8981af;
}

blockquote, div.quoted-text
{
  border-style: none;
	background-color: #242429;
	color: #dfe0da;
	font-size: 14px;
	min-width: 35%;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-radius: 3px;
}

a:link 
{
  color: #8981af;
}

a:visited
{
  color: #8981af;
}

a:active
{
  color: inherit;
}

a:hover
{
  color: inherit;
}

form
{
  display: inline-block;
}

.form-container form
{
  display: block;
}

b
{
  color: #dfe0da;
}

.page
{
  min-width: 800px;
  background-color: black;
}

.header
{
  min-width: 810px;
  background-color: black;
  background-image: url(./btopmid.png);
  background-repeat: repeat-x;
}

.header-left
{
  width: 190px;
  background-image: url(./btopleft.png);
  background-position: left top;
  background-repeat: no-repeat;
  float: left;
}

.header-right
{
  width: 190px;
  vertical-align: middle;
  background-image: url(./btopright.png);
  background-position: right top;
  background-repeat: no-repeat;
  float: right;
}

.header-middle
{
  display: none;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 38px;
}

.content-menu
{
  background-color: black;
  background-repeat: repeat;
  padding: 5px 5px 5px 5px;
  min-width: 800px;
}

.menu
{
  display: block;
  position: relative;
  clear: both;
  padding-top: 5px;
  padding-left: 0px;
  background-color: black;
  background-repeat: repeat;
  width: 100%;
  max-width: 75%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.menu-button
{
  background-color: #0e0e10;
  background-position: top;
  height: 22px;
  margin: 0px 5px 5px 5px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: auto;
  min-width: 120px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 0px solid #dfe0da;
  border-radius: 2px;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 14px;
}

.menu-button:hover
{
  background-color: #8981af;
  color: black;
}

.menu-separator
{
  height: 22px;
  width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  clear: both;
  display: inline-block;
}

.content
{
  display: block;
  position: relative;
  clear: both;
  padding-left: 0px;
  padding-top: 5px;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 15px;
  color: #ecede7;  
  text-align: left;
  background-color: black;
  width: 100%;
  max-width: 75%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.footer
{
  display: none;
}

.sub-header
{
  background-image: linear-gradient(top, #242429 96%, #000000 4%);
  background-image: -o-linear-gradient(top, #242429 96%, #000000 4%);
  background-image: -moz-linear-gradient(top, #242429 96%, #000000 4%);
  background-image: -webkit-linear-gradient(top, #242429 96%, #000000 4%);
  background-image: -ms-linear-gradient(top, #242429 96%, #000000 4%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.96, #242429),
    color-stop(0.04, #000000)
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242429', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  min-height: 27px;
  background-position: top;
  background-repeat: repeat;
  padding-left: 0;
  padding-right: 10px;
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #8981af;
  margin: 0px;
  position: relative;
}

.form-header-text
{
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 20px;
  position: relative;
  padding-left: 5px;
  color: #8981af;
} 

.form-subheader-text
{
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: inherit;
}

.logo-container img
{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.post-icon
{
  border: none;
}

.list-container
{
  text-align:justify;
  text-justify: inter-word;
  margin-right: 5px;
}

.display-container
{
  text-align:justify;
  text-justify: inter-word;
}

div.display-container > p:first-child
{
  margin-top: 0;
}

div.display-container div.quoted-text > p:first-child
{
  margin-top: 0;
}

div.display-container div.centered-text
{
  text-align: center;
}

div.display-container div.sub-header p
{
  margin-bottom: 0;
}

div.display-container div.sub-header + p
{
  margin-top: 0;
}

div.display-container div.centered-text p:last-child
{
  margin-bottom: 0;
}

blockquote p:last-child, div.display-container div.quoted-text p:last-child
{
  margin-bottom: 0;
}

.dialog-container
{
  background-color: #121218;
  border: 2px solid #ecede7;
}

.form-container-center
{
  text-align: center;
  width: 400px;
}

.list-table
{
  font-family: "Segoe WP Semibold", "Segoe UI Semibold", "Segoe UI Web Semibold", 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Roboto, Arial, FreeSans, sans-serif;
  color: #dfe0da;
  font-size: 13px;
  border: none !important;
}

.list-table thead tr th, .list-table tbody tr td
{
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 1px #dfe0da;
  padding-right: 2px;
  padding-left: 2px;
  text-align: left;
}

.list-table tfoot tr td
{
  border: none !important;
}

.list-table thead tr
{
  background-color: #0e0e10;
  color: #8981af;
  font-size: 14px;
}

.list-table tbody tr:nth-child(odd)
{
  background-image: linear-gradient(top, #0e0e10 4%, #000000 96%);
  background-image: -o-linear-gradient(top, #0e0e10 4%, #000000 96%);
  background-image: -moz-linear-gradient(top, #0e0e10 4%, #000000 96%);
  background-image: -webkit-linear-gradient(top, #0e0e10 4%, #000000 96%);
  background-image: -ms-linear-gradient(top, #0e0e10 4%, #000000 96%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.04, #0e0e10),
    color-stop(0.96, #000000)
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e10', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  background-position: top;
  background-repeat: repeat;
  color: #dfe0da;
}

.list-table tbody tr:nth-child(even)
{
  background-image: linear-gradient(top, #000000 4%, #0e0e10 96%);
  background-image: -o-linear-gradient(top, #000000 4%, #0e0e10 96%);
  background-image: -moz-linear-gradient(top, #000000 4%, #0e0e10 96%);
  background-image: -webkit-linear-gradient(top, #000000 4%, #0e0e10 96%);
  background-image: -ms-linear-gradient(top, #000000 4%, #0e0e10 96%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.04, #000000),
    color-stop(0.96, #0e0e10)
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0e0e10',GradientType=0 ); /* IE6-9 */
  background-position: top;
  background-repeat: repeat;
  color: #dfe0da;
}


.list-table tbody tr:hover
{
  background-image: none;
  background-color: #8981af;
  color: black;
}

.list-table tbody tr:hover td a
{
  color: black;
}

.list-table tbody tr.selected td, .list-table tbody tr.selected td a
{
  background-color: #dfe0da;
  color: black;
}

.list-table tbody tr td a.invisible-link
{
  color: #dfe0da;
}

.list-table tbody tr:hover td a.invisible-link
{
  color: black;
}

.list-table tfoot tr
{
  background-color: #0e0e10;
  color: #dfe0da;
}

.quotelink
{
  font-size: 14px;
}

.panel
{
  background-color: #121218;
  margin-top: 0px;
  margin-bottom: 3px;
  border: none;
  position: relative;
}

.sub-header + .panel
{
  background-color: #000000;
}

body > div.panel, div.page > div.panel
{
  margin-top: 0px;
  margin-bottom: 0px;
  position: static;
  padding-right: 0px;
  left: 0px;
}

div.page > div.panel
{
  background: transparent;
}

@media screen and (max-width: 325px)
{
  .logo-container
  {
    display: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 425px)
{
  .header-right
  {
    display: none;
  }

  .header-middle
  {
    display: none;
  }
}

@media screen and (max-width: 540px)
{
  body > div.panel > div.panel-right-inline, div.page > div.panel > div.panel-right-inline
  {
    display: none;
  }

  .panel-block
  {
    display: inline-block;
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 850px)
{
  .page
  {
    min-width: 0px;
  }

  .header
  {
    min-width: 0px;
  }

  .content-menu
  {
    min-width: 0px;
  }

  .menu
  {
    min-width: 0px;
    max-width: inherit;
    margin: 0;
  }

  .content
  {
    min-width: 0px;
    max-width: inherit;
    margin: 0;
  }

  .panel
  {
    min-width: 0px;
  }

  body > div.panel, div.page > div.panel
  {
    min-width: 0px;
  }

  .form-container-center
  {
    width: auto;
    margin: 0;
  }

  .panel-block
  {
    display: inline;
  }
}

@media screen and (max-width: 1000px)
{
  body > div.panel > div.panel-right-inline, div.page > div.panel > div.panel-right.inline
  {
    display: inline;
  }

  body > div.panel > div.panel-left-inline, div.page > div.panel > div.panel-left-inline
  {
    display: inline;
  }

  .content
  {
    clear: right;
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px)
{
  .menu
  {
    width: 12%;
    max-width: inherit;
    min-width: 0px;
    margin: 0;
    background-color: transparent;
    float: left;
  }

  .menu-button
  {
    display: block;
    min-width: 95px;
    max-width: inherit;
  }

  .content
  {
    clear: right;
  }
}

@media screen and (min-width: 1250px)
{
  .menu
  {
    width: 12%;
    max-width: inherit;
    min-width: 0px;
    margin: 0;
    background-color: transparent;
    float: left;
  }

  .menu-button
  {
    display: block;
    min-width: 95px;
    max-width: inherit;
  }

  .content
  {
    clear: right;
    max-width: 900px;
  }
}

@media screen and (min-width: 1350px)
{
  .menu
  {
    width: 200px;
  }

  .content
  {
    max-width: 1000px;
  } 
}

@media print
{
  .page
  {
    min-width: 0px;
  }

  .header
  {
    min-width: 0px;
  }

  .content-menu
  {
    min-width: 0px;
  }

  .menu
  {
    min-width: 0px;
    max-width: inherit;
    margin: 0;
  }

  .content
  {
    min-width: 0px;
    max-width: inherit;
    margin: 0;
  }

  .panel
  {
    min-width: 0px;
  }

  body > div.panel, div.page > div.panel
  {
    min-width: 0px;
  }

  body > div.panel > div.panel-right-inline, div.page > div.panel > div.panel-right.inline
  {
    display: inline;
  }

  body > div.panel > div.panel-left-inline, div.page > div.panel > div.panel-left-inline
  {
    display: inline;
  }

  .dialog-container
  {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    min-width: 0px;
  }

  .form-container-center
  {
    width: auto;
    margin: 0;
  }

  .panel-block
  {
    display: inline;
  }

  .logo-container
  {
    background-image: none;
    height: auto;
  }

  .logo-container img
  {
    display: inline;
  }
}