<div class="dialog-container" v-if="record.type && record.type != 'none'">
  <span class="form-header-text">
    {{ record.title }}
  </span>
  <span class="form-subheader-text" v-if="record.data.createdUTC || record.data.modifiedUTC">
      Created: <span class="datetime-display">{{record.data.createdUTC}}</span>
      &nbsp; | &nbsp;
      Modified: <span class="datetime-display">{{record.data.modifiedUTC}}</span>
  </span>
  <ul class="form-errors" v-if="record.errors">
    <li v-for="error in record.errors">{{ error.text }}</li>
  </ul>
  <div v-if="record.type && record.type == 'post'" id="pengine_post_editor">
    <div class="form-container-overflow">
      <div class="edit-row">
        <div class="edit-label">Title:</div>
        <div class="edit-field"><input type="text" id="post_edit_title" name="Title" class="edit-control-large" v-model="record.data.name"></div>
      </div>
      <div class="edit-row">
        <div class="edit-label">Visible:</div>
        <input type="checkbox" id="post_edit_visible" name="VisibleFlag" v-model="record.data.visibleFlag">
      </div>
      <div class="edit-row">
        <div class="edit-label">Icon:</div>
        <div class="edit-field">
          <select id="post_edit_iconfilename" name="IconFileName" class="edit-control-normal" v-model="record.data.iconFileName">
            <option value="" selected=""></option>
            <option v-for="icon in state.iconList" v-bind:value="icon">
              {{ icon }}
            </option>
          </select>
        </div>
      </div>
      <div class="edit-row">
        <div class="edit-label">Content:</div>
        <div class="edit-field"><textarea id="post_edit_data" name="Data" rows="20" class="edit-control" v-model="record.data.data"></textarea></div>
      </div>
    </div>
  </div>
  <div v-if="record.type && record.type == 'article'">
    <div class="edit-row">
      <div class="edit-label">Editing:</div>
      <div class="edit-field">
        <select id="article_edit_currentsection" class="edit-control-large" v-model="record.state.editTarget">
          <option value="">[Article]</option>
          <option v-for="(section, index) in record.data.sections" v-bind:value="'sections:' + index">[Section] {{section.name}}</option>
        </select>
        &nbsp;
        <button type="button" id="section_edit_button_add" v-on:click="addTarget('sections')" v-if="currentEditTargetProperty === ''">Add Section</button>
        &nbsp;
        <button type="button" id="section_edit_button_delete" v-on:click="removeCurrentTarget()" v-if="currentEditTargetProperty === 'sections'">Delete Current Section</button>
      </div>
    </div>
    <div class="form-container-overflow">
      <div class="article_edit_page article_edit_article_data" v-if="currentEditTargetProperty === ''">
        <input type="hidden" id="article_edit_guid" name="Guid" value="{{guid}}" />
        <div class="edit-row">
          <div class="edit-label">Title:</div>
          <div class="edit-field"><input type="text" id="article_edit_title" name="Title" class="edit-control-large" v-model="record.data.name"/></div>
        </div>
        <div class="edit-row">
          <div class="edit-label">Description:</div>
          <div class="edit-field"><textarea id="article_edit_description" name="Description" class="edit-control" rows="3" v-model="record.data.description"></textarea></div>
        </div>
        <div class="edit-row">
          <div class="edit-label">Content URL:</div>
          <div class="edit-field"><input type="text" id="article_edit_contenturl" name="ContentUrl" class="edit-control-large" v-model="record.data.contentURL" /></div>
        </div>
        <div class="edit-row">
          <div class="edit-label">Category:</div>
          <div class="edit-field"><input type="text" id="article_edit_category" name="Category" class="edit-control-large" v-model="record.data.category" /></div>
        </div>
        <div class="edit-row">
          <div class="edit-label">Default Section:</div>
          <div class="edit-field">
            <select id="article_edit_defaultsection" class="edit-control-large" v-model="record.data.defaultSection">
              <option value="">[Not Specified]</option>
              <option v-for="(section, index) in record.data.sections" v-bind:value="section.name">{{section.name}}</option>
            </select>
          </div>
        </div>
        <div class="edit-row">
          <div class="edit-label">Visible:</div>
          <input type="checkbox" id="article_edit_visible" name="VisibleFlag" v-model="record.data.visibleFlag" />
        </div>
        <div class="edit-row">
          <div class="edit-label">Hide Buttons:</div>
          <input type="checkbox" id="article_edit_hidebuttons" name="HideButtonsFlag" v-model="record.data.hideButtonsFlag" />
        </div>
        <div class="edit-row">
          <div class="edit-label">Hide Dropdown:</div>
          <input type="checkbox" id="article_edit_hidedropdown" name="HideDropDownFlag" v-model="record.data.hideDropDownFlag" />
        </div>
      </div>
      <div id="article_edit_section_container" v-if="currentEditTargetProperty === 'sections'">
        <div class="article_edit_page article_edit_section_data">
          <div class="edit-row">
            <div class="edit-label">Name:</div>
            <div class="edit-field">
              <input type="text" name="Name" class="section_edit_title edit-control-large" v-model="currentEditTarget.name"  />
            </div>
          </div>
          <div class="edit-row">
            <div class="edit-label">Order:</div>
            <div class="edit-field">
              <button type="button" class="section_edit_button_moveup" v-if="currentEditTargetPosition !== 'First'" v-on:click="moveCurrentTarget(-1)">Up</button>
              <span v-if="currentEditTargetPosition === 'Between'">&nbsp;</span>
              <button type="button" class="section_edit_button_movedown" v-if="currentEditTargetPosition !== 'Last'" v-on:click="moveCurrentTarget(1)">Down</button>
            </div>
          </div>
          <div class="edit-row">
            <div class="edit-label">Content:</div>
            <div class="edit-field"><textarea name="Data" rows="20" class="section_edit_data edit-control" v-model="currentEditTarget.data"></textarea></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-if="record.type && record.type == 'resume'">
  </div>
  <div class="edit-row">
    <div class="edit-label">&nbsp;</div>
    <div class="edit-field">
      <button type="button" id="post_edit_button_save" v-on:click="saveRecord">Save</button>
      <button type="button" id="post_edit_button_delete" v-on:click="confirmDeleteRecord" v-if="record.data && record.data.guid">Delete</button>
      <button type="button" id="post_edit_button_close" v-on:click="cancelRecord">Cancel</button>
    </div>
  </div>
</div>
<div id="modal-overlay" v-if="record.type && record.type != 'none'"></div>