<div class="dialog-container" v-if="record.type && record.type != 'none'">
  <span class="form-header-text">
    {{ record.title }}
  </span>
  <span class="form-subheader-text" v-if="record.data.createdUTC || record.data.modifiedUTC">
      Created: <span class="datetime-display">{{record.data.createdUTC}}</span>
      &nbsp; | &nbsp;
      Modified: <span class="datetime-display">{{record.data.modifiedUTC}}</span>
  </span>
  <ul class="form-errors" v-if="record.errors">
    <li v-for="error in record.errors">{{ error.text }}</li>
  </ul>
  <div v-if="record.type && record.type == 'post'" id="pengine_post_editor">
    <div class="form-container-overflow">
      <div class="edit-row">
        <div class="edit-label">Title:</div>
        <div class="edit-field"><input type="text" id="post_edit_title" name="Title" class="edit-control-large" v-model="record.data.name"></div>
      </div>
      <div class="edit-row">
        <div class="edit-label">Visible:</div>
        <input type="checkbox" id="post_edit_visible" name="VisibleFlag" v-model="record.data.visibleFlag">
      </div>
      <div class="edit-row">
        <div class="edit-label">Icon:</div>
        <div class="edit-field">
          <select id="post_edit_iconfilename" name="IconFileName" class="edit-control-normal" v-model="record.data.iconFileName">
            <option value="" selected=""></option>
            <option v-for="icon in state.iconList" v-bind:value="icon">
              {{ icon }}
            </option>
          </select>
        </div>
      </div>
      <div class="edit-row">
        <div class="edit-label">Content:</div>
        <div class="edit-field"><textarea id="post_edit_data" name="Data" rows="20" class="edit-control" v-model="record.data.data"></textarea></div>
      </div>
    </div>
  </div>
  <div v-if="record.type && record.type == 'article'">
  </div>
  <div v-if="record.type && record.type == 'resume'">
  </div>
  <div class="edit-row">
    <div class="edit-label">&nbsp;</div>
    <div class="edit-field">
      <button type="button" id="post_edit_button_save" v-on:click="saveRecord">Save</button>
      <button type="button" id="post_edit_button_delete" v-on:click="confirmDeleteRecord" v-if="record.data && record.data.guid">Delete</button>
      <button type="button" id="post_edit_button_close" v-on:click="cancelRecord">Cancel</button>
    </div>
  </div>
</div>
<div id="modal-overlay" v-if="record.type && record.type != 'none'"></div>